.footer {
  height: 658px;
  padding-left: 35px;
  padding-right: 35px;
  color: var(--clr-white);
  background-color: var(--clr-primary-dark);

  .top {
    padding-top: 66.33px;
    display: flex;
    flex-direction: column;
    // align-items: center;

    .right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 25px;

      .box-1 {

        h3 {
          margin-bottom: 16px;
        }

        h4 {
          margin-bottom: 12px;
        }
      }
      .box-2 {
        justify-self: end;

        h3 {
          margin-bottom: 16px;
        }

        h4 {
          margin-bottom: 12px;
        }
       
      }
      .box-3 {
        // flex: 1;
        // border: 1px solid blue;

        h3 {
          margin-bottom: 16px;
        }

        h4 {
          margin-bottom: 12px;
        }
      }
    }
    
    .left {
      display: flex;
      justify-content: center;
      margin-bottom: 47.16px;
    }
  }

  hr {
    border: none;
    height: 1.5px;
    background-color: var(--clr-white);
  }

  .bottom {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 40px;

    .rights {
      margin-top: 25px;
    }

    .terms {
      margin-top: 21px;
      
      span {
        margin-right: 20px;
      }
    }
  }
}

/****** MEDIA QUERIES ****************/

@media (min-width: 999px) {
  .footer {
    height: 510px;
    padding-left: 5%;
    padding-right: 8%;
    .top {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 80px;

      .right {
        flex: 2;
        display: flex;
        justify-content: right;
        gap: 10%;
      }

      .left {
        flex: 1;
        display: flex;
        justify-content: left;
        margin-bottom: 0;

        img {
          width: 248px;
          height: 84.2px;
        }
      }
    }

    hr {
      margin-top: 122px;
    }

    .bottom {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .rights {
        margin-top: 0px;
      }
  
      .terms {
        margin-top: 0px;
        width: 46%;
        display: flex;
        justify-content: space-between;
        
        span {
          margin-right: 20px;
        }
      }
    }
  }
}