.solutions {
  margin-bottom: 50px;

  @media (min-width: 1250px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 33px;
    margin-left: 34px;
    margin-bottom: 50px;

    @media (min-width: 1250px) {
      order: 2;
      align-items: flex-start;
      margin: 0;
      margin-left: 63px;
    }

    .solutions-header {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      color: var(--clr-terciary);
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 28px;

      @media (min-width: 1250px) {
        font-size: 36px;
        line-height: 54px;
        text-align: left;
      }

      span {
        color: var(--clr-primary);
      }
    }

    .solutions-text,
    .solutions-text-bottom {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: var(--clr-terciary);
      max-width: 363px;
      text-align: center;

      @media (min-width: 1250px) {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        max-width: 499px !important;
      }
    }

    .solutions-text-bottom {
      font-size: 12px;
      margin-top: 20px;
    }

    .list-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: auto;
      margin-top: 28px;

      .list {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

  
        img {
          margin-right: 20px;
        }

        p {
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          color: var(--clr-terciary);
        }
      }
    }
  }

  .graphics {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 26px;
    margin-right: 26.95px;
    overflow: hidden;

    @media (min-width: 1250px) {
      order: 1;
      margin: 0;
    }

    .right {
      display: flex;
      flex-direction: column;

      .img-1 {
        max-width: 150.82px;
        height: 142.08px;

        @media (min-width: 1250px) {
          max-width: 276px;
          height: 260px;
        }
      }

      .img-2 {
        max-width: 150.82px;
        height: 142.08px;

        @media (min-width: 1250px) {
          max-width: 276px;
          height: 260px;
        }
      }
    }

    .left {
      display: flex;
      flex-direction: column;

      img {
        max-width: 209.84px;
        height: 300px;

        @media (min-width: 1250px) {
          max-width: 384px;
          height: 549px;
        }
      }
    }
  }
}
