@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}

:root {
    --clr-primary: #001857;
    --clr-primary-light: #2F71C3;
    --clr-primary-dark: #000A25;
    --clr-secondary: #2DD705;
    --clr-terciary: #211F1F;
    --clr-white: #fff;
    --clr-ash: #D9D9D9;
    --clr-ash-pen: #747582;
}

h3 {
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    text-transform: uppercase;
}

h4 {
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 21px !important;
}